.loading-spin.ant-spin {
    max-height: 100vh !important;
    min-height: 100vh !important;
}

.login-container {
    text-align: center;
    width: 520px;
    background-color: #eee;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    bottom: 0;
    left: 50%;
    height: 300px;
    padding-top: 40px;

    .login-form {
        padding: 30px 70px 30px 0;
    }
}


.totp-code-container {
    width: 350px;
    margin: 0 auto;
    border-radius: 8px;
    border: 1px solid #d5d9d9;
    padding: 14px 18px;
    transform: translateY(89.64px);

    .p {
        font-size: 14px;
    }

    :where(.css-dev-only-do-not-override-mc1tut).ant-col-8 {
        min-width: 100%;
    }
}