*,
*::before,
*::after {
    box-sizing: border-box;
}

.loading-spin.ant-spin {
    max-height: 100vh !important;
    min-height: 100vh !important;
}
.login-container {
    text-align: center;
    max-width: 520px;
    width: 90vw;
    background-color: #eee;
    position: absolute;
    transform: translate(-50%, 50%);
    left: 50%;
    padding-top: 40px;

    .login-form {
        padding: 30px;

        .signin-btn > div > div {
            margin: 0 auto;
        }
    }
}


.totp-code-container {
    max-width: 350px;
    width: 90vw;
    margin: 0 auto;
    border-radius: 8px;
    border: 1px solid #d5d9d9;
    padding: 14px 18px;
    transform: translateY(50%);

    .p {
        font-size: 14px;
    }

    .login-form {
        text-align: center;

        .submit-btn > div > div {
            margin: 0 auto;
        }
    }

    :where(.css-dev-only-do-not-override-mc1tut).ant-col-8 {
        min-width: 100%;
    }
}

.totp-setting-wrapper {
    margin: 10vh auto;
    width: 70%;

    h1 {
        margin-left: 40px;
    }
    .totp-setting-container {
        background-color: white;
        padding: 5vh;
        border-radius: 25px;

        .bar-code {
            border: 1px solid #d5d9d9;
            border-radius: 10px;
            overflow: hidden;
            width: 25vh;
            height: 25vh;
            margin: 20px 0 10px;
        }

        .commit-btn {
            margin-top: 10px;
        }
    }
}